<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <h2>Welcome to my WEBSITE!</h2>
        <p>My Name is Lavatharini Jasinthakumar.</p>
        <p>I will be demonstrating HTML principles and techniques, Routing in Express.</p>

        <h3>About This Website</h3>
        <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: 
            <a href="/students">All Students</a>, 
            <a href="/students?course=3">Students by Course</a>, 
            <a href="/student/2">A Single Student By Student Number</a>, 
            <a href="/courses">All Courses</a>.
        </p>

        <h3>Introduction to HTML</h3>
        <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.</p>
        <p>The web is the most ubiquitous computing platform in the world. As a developer, learning the web takes time. There are hundreds of languages, libraries, frameworks, and tools to be learned, some old, some built yesterday, and all being mixed together at once.</p>
        <!-- End your code here  -->
        
        <section id="images">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="https://pngimg.com/d/welcome_PNG110.png" alt="Welcome word flat cartoon people characters" class="img-fluid" />
                </div>
            </div>
        </section>
    </main>
</div>
